* {
    box-sizing: border-box;
  }
body {
    background-color: lightgray;
    color: navy;
    font-family: 'Times New Roman', 'Cambria', 'Garamond' ;
    padding: 0px;
    margin: 20px;
}
#me {
    width:52px;height:52px; border-radius: 25px; margin-right: 10px; margin-left: 5px;     
}
 #pic {
    display: flex;
    align-items: center;
 }
.navigation {
    padding-right: 40px;
}
.navigation li {
    display: inline-block;
    margin: 15px;    
}

.navigation li a {
    text-decoration: none;
    color: white;
    font-size: 20px;
    text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;    
}
.header {
    display: flex;
    justify-content: flex-end;
    position: fixed;
    top: 0; left: 0; width: 100%; 
    
}

h1 {
    font-size: 40px;
    font-weight: bold;
    color: midnightblue;    
}
h2, h3 {
    font-size: 30px;
    font-weight: bold;
    color: midnightblue;
}
p {
    margin-left: 40px;
}
#experience {
    list-style-type: none;  
    width: 70%;  
}

@media (min-width: 800px) {
    #experience ul li {
        display: flex;
        justify-content: space-between;
        line-height: 1.5rem;
    }
}
@media (max-width: 800px) {
    #experience ul li span {
        display: block;
    }
}
@media (min-width: 800px) {
    #skills ul, #projects ul {
        width: 70%;
        display: flex;
        justify-content: space-between;
        list-style-type: none;
        font-style: italic;
        font-weight: bold;        
    }
}

#connect ul {
    list-style-type: none; 
}

#connect ul li {
    display: inline;
    padding: 1em;
  }

.fa {
    font-size:36px;
    color:navy;    
}  

@media (min-width: 800px) {
    form[name="leave_message"] {
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-radius: 5px;
        background-color: lightgrey;
        padding: 10px;
    }
}
form[name="leave_message"] div {
    display: flex;
    flex-direction: column;    
}
form[name="leave_message"] .name, .email {
   flex:0 0 20%;   
}

 form[name="leave_message"] .message {
    flex:0 0 40%; 
 }

form[name="leave_message"] button {
    align-self: flex-end;
    background-color: lightslategray;
    border-radius: 5px;
    border-style: none;
    color:white ;
    padding: 10px 80px;
    margin-top: 10px;
 }
 section[id="messages"] ul {
    color: slategray;
    list-style-type: square;
 }
 section[id="messages"] button {
    color: white;
    background-color: gray;
    border-radius: 5px;
    border-style: none;
    margin: 5px;
    size: 60em;
 }
 footer {
    background-color: lightslategray;
 }